body {
  background-color: #444444;
  color: #000000;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

div {
  margin-bottom: 20px;
}

button {
  background-color: #444444;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #666666;
}

.log-item {
  background-color: #444444;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.log-item h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.log-item p {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.log-item small {
  color: #999999;
  font-size: 0.8rem;
}
