.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* set the background color with transparency */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-container h1 {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.entry-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 10px;
}

.entry-container label {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.entry-container input {
  background-color: #292929;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 75%;
}

.entry-container input:focus {
  outline: none;
}

.entry-container button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1;
  margin-top: 25px;
}

.entry-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 299px;
  max-width: 443px;
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 10px;
}
