/* .tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.tech-stack li {
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
}

.tech-stack li span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
} */

.container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* pink */
.pink-board-container {
  width: 200px;
  height: 285px;
  background-color: rgb(239, 189, 198);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  font-size: 1rem;
  /* Add drop shadow */
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  margin-top: 0.5rem;
  transform: rotate(5.5deg);
}

.pink-board-container:before {
  content: '';
  position: absolute;
  top: -1.9rem;
  left: 1.4rem;
  width: 4.5rem;
  height: 4rem;
  background-image: url('/public/styling/imgIcons/black_thumb_tack.png');
  background-size: 120%;
  background-repeat: no-repeat;
  transform: rotate(15deg);
  z-index: -1;
}

/* blue */
.blue-board-container {
  width: 200px;
  height: 200px;
  background-color: rgb(47, 178, 187);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  font-size: 1rem;
  /* Add drop shadow */
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  margin-top: 0.5rem;
  transform: rotate(-8deg);
}

.blue-board-container:before {
  content: '';
  position: absolute;
  top: -1.5rem;
  left: 3.4rem;
  width: 4.5rem;
  height: 4rem;
  background-image: url('/public/styling/imgIcons/black_thumb_tack.png');
  background-size: 120%;
  background-repeat: no-repeat;
  transform: rotate(-66deg);
  z-index: -1;
}

/* green */
.green-board-container {
  width: 200px;
  height: 240px;
  background-color: rgb(91, 186, 91);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  font-size: 1rem;
  /* Add drop shadow */
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  margin-top: 0.5rem;
  transform: rotate(10deg);
}

.green-board-container:before {
  content: '';
  position: absolute;
  top: -2.3rem;
  left: 0.6rem;
  width: 4.5rem;
  height: 4rem;
  background-image: url('/public/styling/imgIcons/black_thumb_tack.png');
  background-size: 120%;
  background-repeat: no-repeat;
  transform: rotate(7-5deg);
  z-index: -1;
}

/* purple */
.purple-board-container {
  width: 200px;
  height: 355px;
  background-color: rgb(183, 93, 183);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
  font-size: 1rem;
  /* Add drop shadow */
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  margin-top: 0.5rem;
  transform: rotate(-5deg);
}

.purple-board-container:before {
  content: '';
  position: absolute;
  top: -2.2rem;
  left: 0.2rem;
  width: 4.5rem;
  height: 4rem;
  background-image: url('/public/styling/imgIcons/black_thumb_tack.png');
  background-size: 130%;
  background-repeat: no-repeat;
  transform: rotate(-5deg);
  z-index: -1;
}

.lindskey6-emote {
  content: '';
  position: absolute;
  top: 20rem;
  left: 10.8rem;
  width: 7rem;
  height: 18rem;
  background-image: url('/public/styling/imgIcons/lindskey6_emote.png');
  background-size: 120%;
  background-repeat: no-repeat;
  transform: rotate(16deg);
  z-index: -1;
}

.individual-logs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.about-title {
  background-color: black;
  color: white;
}
